@page
@model AboutModel
@{
    ViewData["Title"] = "Menu";
}

<br />
<p>Vores menu består primært af vores lækre kebab i pizza brød eller lavet som en durüm.</p>
<img src="~/images/kebab.jpg" alt="Recep" style="width:250px;height:250px;" />
<img src="~/images/durum.jpg" alt="Recep" style="width:250px;height:250px;" />
