@page
@model ContactModel
@{
    ViewData["Title"] = "Find os!";
}


<div class="col-lg-12">
<div class="col-lg-1"> </div>
<div class="col-lg-10 center-block contentBackground text-center">
<h2 class="text-header">Find os</h2>
<hr />
    <address>
    @{
        Address address = AdapterManager.GetAddresses()[0];
        string addressString = address.BillingAddress + ", " + address.ZipCode + ' ' + address.City;
        string firstPhoneNumber = AdapterManager.GetEmployees()[0].Phone;
    }
    <p>@addressString - 
    @firstPhoneNumber </p>
</address>
<div id="map" style="width:400px;height:400px" class="center-block rounded">Vi bor her: </div>
    <script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var myCenter = new google.maps.LatLng(55.428482, 11.788611); 
  var mapOptions = {center: myCenter, zoom: 19};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
    marker.setMap(map);
    map.setMapTypeId(google.maps.MapTypeId.HYBRID);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdWZ2lKQ0NzIBpWSS7l-xaUrxeHrLY4eI&callback=myMap"></script>
<p> Vi er på den røde hoppende prik! </p>
<br />

<h3>Åbningstider</h3>
@{ 
    OpeningHours[] hours = AdapterManager.GetOpeningHours();


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dag</th>
                <th scope="col" class="text-center">Fra</th>
                <th scope="col" class="text-center">Til</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < hours.Length; i++)
            {
                OpeningHours dayHours = hours[i];
                string from = dayHours.From.Days < 0 ? "Lukket" : dayHours.From.ToString().Substring(0, 5);
                string to = dayHours.To.Days < 0 ? "Lukket" : dayHours.To.ToString().Substring(0, 5);
                <tr>
                    <th scope="row">@dayHours.GetDayString()</th>
                    <td>@from</td>
                    <td>@to</td>
                </tr>
            }
        </tbody>
    </table>
    
}

</div>
</div>