@page
@model ContactModel
@{
    ViewData["Title"] = "Find os!";
}
<h2>@ViewData["Title"]</h2>



<div id="map" style="width:400px;height:400px">Vi bor her: </div>
<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(55.428588, 11.788501),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdWZ2lKQ0NzIBpWSS7l-xaUrxeHrLY4eI&callback=myMap"></script>

<address>
    Huginsvej 2 B, 4100 Ringsted <br />
    +45 60 53 35 44
</address>