@page
@model ContactModel
@{
    ViewData["Title"] = "Find os!";
}


<div class="col-lg-12">
<div class="col-lg-1"> </div>
<div class="col-lg-10 center-block contentBackground text-center">
<h2 class="text-header">Find os</h2>
<hr />
    <address>
    @{
        Address address = AdapterManager.GetAddresses()[0];
        string addressString = address.BillingAddress + ", " + address.ZipCode + ' ' + address.City;
        string firstPhoneNumber = AdapterManager.GetEmployees()[0].Phone;
    }
    <p>@addressString - 
    @firstPhoneNumber </p>
</address>
<div id="map" style="width:400px;height:400px" class="center-block">Vi bor her: </div>
    <script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var myCenter = new google.maps.LatLng(55.428482, 11.788611); 
  var mapOptions = {center: myCenter, zoom: 19};
  var map = new google.maps.Map(mapCanvas,mapOptions);
  var marker = new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
  });
    marker.setMap(map);
    map.setMapTypeId(google.maps.MapTypeId.HYBRID);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdWZ2lKQ0NzIBpWSS7l-xaUrxeHrLY4eI&callback=myMap"></script>
<p> Vi er på den røde hoppende prik! </p>
<br />

</div>
</div>