@page
@model ContactModel
@{
    ViewData["Title"] = "Find os!";
}
<h2>@ViewData["Title"]</h2>


<address>
    Huginsvej 2 B, 4100 Ringsted <br />
    +45 60 53 35 44
</address>

<div id="map" style="width:400px;height:400px">Vi bor her: </div>
<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(51.5, -0.12),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>