@page
@model ContactModel
@{
    ViewData["Title"] = "Personale";
}
<h2>@ViewData["Title"]</h2>


<img src="~/images/Recep.jpeg" alt="Recep" style="width:140px;height:200px;" />
<h3>Recep</h3>
<address>
    Huginsvej 2 B, 4100 Ringsted<br />

    <abbr title="Phone">Telefon: </abbr>
    + 45 60 53 35 44
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:Kebabvognen@dejligkebab.dk">Kebabvognen@dejligkebab.dk</a><br />
</address>
