@page
@model ContactModel
@{
    ViewData["Title"] = "Personale";
}
<h2>@ViewData["Title"]</h2>
<br />

@{
    Employee[] staff = AdapterManager.GetEmployees();

    foreach (Employee employee in staff)
    {
        DateTime now = DateTime.UtcNow;
        int age = now.Year - employee.Born.Year;
        if (employee.Born > now.AddYears(-age)) { age--; }
        <img src="@employee.ProfileUrl" alt="@employee.Name" style="width:160px;height:250px;" />
        <h4>@employee.Name</h4>
        <h4>@age år</h4>
    }
}
<br />
<br />
<br />
<abbr title="Phone">Telefon: </abbr>
+ 45 60 53 35 44

<address>
    <strong>Mail:</strong> <a href="mailto:Kebabvognen@dejligkebab.dk">Kebabvognen@dejligkebab.dk</a><br />
</address>
